.error {
    color: red;
    padding: 3px;
    display: none;
}

.input-custom:invalid[focused="true"]~span {
    display: block;
}
th#price-check:hover {
    cursor: pointer;
}
.alertify-notifier {
    position: fixed;
    top: 0;
    right: 10px;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999; /* Đảm bảo nó nằm trên cùng */
}
.select-selection {
    border-radius: 0 !important;
}