<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout.html :: header}"></th:block>
<div class="container">
    <button style="background-color: #ea9797; color: beige" type="button" class="btn  mt-4 " data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="create">
        Create Bill
    </button>
    <div class="input-group">
        <label for="priceRange"></label><select class="form-control" id="priceRange">
        <option value="0-50000000000" selected>----Choose----</option>
        <option value="0-100">Dưới 100 đồng</option>
            <option value="100-500">Từ 100 đến 500 đồng</option>
            <option value="501-1000">Từ 501 đến 1000 đồng</option>
            <option value="1001-2000">Từ 1001 đến 2000 đồng</option>
        </select>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="roomForm">
                        <div class="row">
                            <div id="formBody">

                            </div>
                            <div class="form-group col-12">
                                <label for="authors">Authors</label>
                                <select style="width: 100%!important; padding: .375rem .75rem!important; border-radius: 0 !important;"
                                        class="js-example-basic-multiple form-control" id="authors" name="authors"
                                        multiple="multiple">
                                    <option th:each="author : ${authors}" th:value="${author.value}"
                                            th:text="${author.name}"/>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Table Basic</h5>
        <table class="table table-bordered table-striped">
            <tr>
                <th>No</th>
                <th style="width: 250px">Title</th>
                <th style="width: 250px">Description</th>
                <th style="width: 250px">Publish Date</th>
                <th id="price-check" class="arrow arrow-up" style="width: 100px">
                    <span >Price &#9660;</span>
                </th>
                <th>Authors</th>
                <th>Category</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            <tbody id="tBody">
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <nav aria-label="...">
                <ul class="pagination" id="pagination">

                </ul>
            </nav>
        </div>
    </div>
</div>

<th:block th:replace="~{layout.html :: footer}"></th:block>
<script src="/assets/myjs/room.js"></script>
<script>
    var eMenubar = document.getElementsByClassName("menu-item");
    for (var i = 0; i < eMenubar.length; i++) {
        eMenubar[i].classList.remove("active");
    }
    document.getElementById("menu-bill").classList.add("active");
</script>

</html>